body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root{
	box-sizing:border-box;
	display:flex;
	width:100%;
	height:100%;
	margin:0;
	background-color:#f1f2f6;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root * {
	box-sizing:border-box;
}
#rootPage{
	display:flex;
	width:100%;
	height:100%;
}
#sidebar{
	display:flex;
	flex-direction:column;
	flex:1;
	background-color:white;
	justify-content:center;
	padding:1rem;
	background-color:#f1f2f6;
	border-right: solid 0.5px grey;
}
#sidebarHeader{
	display:flex;
	flex:1;
	width:100%;
	justify-content:center;
	align-items:center;
	border-radius:5%;
	background-color:white;
}
#sidebarHeader h2{
	background:white;
}
#sidebarList{
	display:flex;
	flex:5;
	flex-direction:column;
	align-items:center;
}
#listItem{
	text-decoration:none;
	list-style:none;
	border-radius:5px;

}
#sidebarListLink{
	display:flex;
	background-color: white;
	width:80%;
	flex:1;
	justify-content:center;
	align-items:center;
	border-radius:50px;
	margin:2rem;
	transition: background-color 1.5s ;
	max-height:15%;
	text-decoration:none;
}
#sidebarListSpan{
	color:black;
	text-decoration:none;
	background:white;
	border-radius:5px;
	font-size:1.3rem;
}
#sidebarListLink:hover{
	background-color:grey;
	cursor:pointer;
}
#mainContent{
	display:flex;
	flex:4;
}
#nowPlayingPage{
	display:flex;
	flex:1;
	background-color:#f1f2f6;
	flex-direction:column;
	justify-content:center;
}
#nowPlayingHeader{
	display:flex;
	float: left;
	border-bottom:1px solid black;
	padding-left:2rem;
}
#nowPlayingPageContent{
	overflow:scroll;
	padding:2rem;
	display:flex;
	gap:2rem;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}
.movieBox{
	flex:1;
	display:flex;
	border-radius:5px;
	padding:2rem;
	background-color:#243c5a;
	flex-direction:column;
	align-items:center;
	width:80%;
	gap:2rem;
	transition:0.5s;
}
.movieBox:hover{
	transform:rotateY(180deg);
}
.movieBoxContent{
	width:80%;
	font:1rem;
	background-color:white;
	margin:5%;
	width:90%;
	padding:1rem;
	border-radius:5px;
	flex:1;
}
.movieBoxHeader{
	background-color:white;
	width:70%;
	flex:1;
	justify-content:center;
	text-align:center;
	border-radius: 5px;
}
.movieBoxImage{
	flex:3;
}

